.location {
	margin-block: 1em;
	padding: 1em;
	color: aliceblue;
	border-radius: 12px;
	background-color: #00000040;
	box-shadow: 6px 6px 0 #00000099;
}

.location__name {
	margin: 0;
	color: #0bb4e4;
	text-align: center;
}

.location__content {
	display: grid;
	grid-template-columns: repeat (3, 1fr);
}

.location__item {
	text-align: center;
	font-size: small;
}

.location__item b {
	color: #88e23b;
	font-size: medium;
	display: block;
}
